html {
  --background-main-color: white;
  --font-main-color: black;
  --table-highlight-color: lightgray;
  --table-padding-size: 5px;
  color-scheme: light dark
}

#root {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 1em auto;
}

form * {
  padding: 0.25em;
  margin-left: 0.5em;
}

form input[type="text"] {
  width: 150px;
}

input::placeholder {
  text-align: center;
}

form > input[type="submit"] {
  width: 200px;
  margin: 0 auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.results table {
  margin: 0 auto;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background: var(--font-main-color);
  color: var(--background-main-color);
}

th {
  padding: var(--table-padding-size);
}

td {
  max-width: 500px;
  text-align: left;
  padding: var(--table-padding-size);
  margin: 0;
  border: 1px solid var(--table-highlight-color);
}

tbody tr:nth-child(odd) {
  background-color: var(--table-highlight-color);
}

tbody tr:nth-child(odd) td {
  border-color: var(--background-main-color);
  outline: inset 1px var(--background-main-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  thead {
    color: var(--font-main-color);
    background: var(--background-main-color);
  }

  tbody tr:nth-child(odd) td {
    color: var(--font-main-color);
  }
}