*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Solarized Colors */
  --base03:    #002b36;
  --base02:    #073642;
  --base01:    #586e75;
  --base00:    #657b83;
  --base0:     #839496;
  --base1:     #93a1a1;
  --base2:     #eee8d5;
  --base3:     #fdf6e3;
  --base4:     #fefbf1; /* color-mix(in srgb, var(--base3), white) */
  --yellow:    #b58900;
  --orange:    #cb4b16;
  --red:       #dc322f;
  --magenta:   #d33682;
  --violet:    #6c71c4;
  --blue:      #268bd2;
  --cyan:      #2aa198;
  --green:     #859900;
  /* END Solarized Colors*/
}

html {
  --background-main-color: var(--base4);
  --background-main-color: color-mix(in srgb, var(--base3), white);
  --background-inverted-color: var(--base03);
  --font-main-color: var(--base03);
  --font-heading-color: var(--base02);
  --font-table-highlight-color: var(--base3);
  --font-thead-color: white;
  --thead-background-color: var(--blue);
  --table-highlight-color: var(--base03);
  --table-border-color: var(--base0);
  --table-padding-size: 5px;

  background-color: var(--background-main-color);
  color: var(--font-main-color);
  text-align: center;
  color-scheme: light dark;
}

body {
  margin: 2em 1em 5em;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--font-heading-color);
  border-color: var(--font-main-color);
}

a, a:active, a:visited {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--magenta);
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5em;
  column-gap: 0.5em;
  margin: 1em auto;
}

form * {
  padding: 0.25em;
}

form label {
  justify-self: end;
  padding-right: 0;
}

form input[type="text"],
form select {
  width: 160px;
  align-self: center;
}

input::placeholder {
  text-align: center;
}

form > input[type="submit"] {
  width: 200px;
  margin: 0 auto;
  grid-column-start: span 2;
}

.button {
  /* reset styles */ 
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
  /* END reset */
  
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--blue);
  color: var(--font-thead-color);
  border-radius: 0.5em;;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  font-size: 1.25em;
  font-weight: 700;

  transition: 220ms all ease-in-out;

  &:hover,
  &:active {
    --btn-hover-bg: color-mix(in srgb, var(--blue) 70%, black 30%);
    background-color: var(--violet); /* if color-mix unsupported */
    background-color: var(--btn-hover-bg);
  
    @media (prefers-color-scheme: dark) {
      --btn-hover-bg: color-mix(in srgb, var(--blue) 70%, white 30%);
      color: var(--base03);
    }
  }

  &:focus {
    --focus-color: #4F0A7A;
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px var(--focus-color);
  
    @media (prefers-color-scheme: dark) {
      --focus-color: #FFF861;
    }
  }
}

.results table {
  margin: 0 auto;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background: var(--thead-background-color);
  color: var(--font-thead-color);
  outline: inset 1px var(--thead-background-color);
}

th {
  padding: var(--table-padding-size);
  height: 1.3em;
  outline: solid 1px var(--table-border-color);
}

td {
  max-width: 500px;
  text-align: left;
  padding: var(--table-padding-size);
  margin: 0;
  outline: solid 1px var(--table-border-color);
}

tbody tr:nth-child(odd) {
  background-color: var(--table-highlight-color);
}

tbody tr:nth-child(odd) td {
  color: var(--font-table-highlight-color);
  outline: solid 1px var(--table-border-color);
}

.mobileDisplay {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    --background-main-color: var(--base03);
    --background-inverted-color: var(--base3);
    --font-main-color: var(--base3);
    --font-heading-color: var(--base2);
    --font-table-highlight-color: var(--base03);
    --table-highlight-color: var(--base3);
    --table-border-color: var(--base00);
  }
}

@media only screen and (max-width: 750px) {
  .mobileDisplay {
    display: table-cell;
  }

  .bigDisplay {
    display: none;
  }
}
